* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: #025aaf;
}

.main {
  /* The element is positioned relative to its normal position,
  so "left:20px" adds 20 pixels to the element's LEFT position */
  position: relative;
  width: 100%;
  height: 100%;
}

.titulo {
  padding: 15px;
  width: 30vw; /* prenche a largura da tela */
  margin: auto;
}

.logo{
  position: absolute;
  left: 30px;
  right: 37.43%;
  top: 25px;
  bottom: 0%;
}

.text-input {
  /* Digite seu texto */
  text-transform:lowercase;
  /* The element is positioned relative to its first
  positioned (not static) ancestor element */
  position: absolute;
  width: 600px;
  height: 360px; /* altura do textarea */
  left: 15%;
  top: 125px;

  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.6;
  justify-content: baseline;

  outline-style: ridge;

  /* iNão deixa o usuário alterar o tamanho do textarea */
  resize: none;

  color: #FFFFFF;
  background: #329D4D;
}

::placeholder { color: #000080; }

/* vai acontecer quando o textarea receber  o foco */
.text-input:focus {
  outline: none;
}

/* img-alerta e "Apenas letras minúsculas e sem acento" */
.form-group{
  /* Assim que você atribuir a propriedade de CSS display: flex ao container,
  ele passará a ser o que chamamos de flex container e todos seus filhos diretos,
  por sua vez, serão os flex-itens. */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: auto;
  height: 18px;
  left: 15%;
  top: 510px;
}

.img-alerta{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

label {
  position: static;
  width: auto;
  height: 18px;
  left: 24px;
  top: 0px;
  padding-left: 25px;
  font-weight: 600;
  font-family: Inter;
  font-style: normal;
  font-size:20px;
  line-height: 100%;
  color: #FFFFFF;
}

.botones-div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 680px;
  height: 67px;
  left: 12%;
  top: 580px;
}

.btn-criptografar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 300px;
  height: 67px;
  left: 0px;
  top: 0px;
  background: #0A3871;
  border-radius: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
  flex-grow: 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 19px;  /* centralizou verticalmente o texto do botão */
  justify-content: center;

}

.btn-descriptografar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 300px;
  height: 67px;
  left: 352px;
  top: 0px;

  background: #0000FF;

  /* Monta a borda do botão */
  border-radius: 24px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;

  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 19px;  /* centralizou verticalmente o texto do botão */
  justify-content: center;
}

/* onde aparecem div-aparece e div-desapaece */
.message-box{
  position: absolute;
  width: 400px;
  height: 648px;
  left: 70%;
  top: 20px;
  padding-left: 20px;
  padding-top: 80px;

  background: #0080FF;
  /* shadow */
  box-shadow: 20px 20px 70px 45px grey;
  border-radius: 32px;
}

.message-box-div, .message-box-div img {
  padding-top: 40px;
  background: transparent;
}

.message-box h2{
  position: static;
  width: 336px;
  height: 58px;
  left: 0px;
  top: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 120%; /* aproximadamente 29px */

  text-align: center;

  color: #FFFFFF;
  background: transparent;

  flex: none;
  order: 0;
  align-self: stretch; /* The element is positioned to fit the container */
  flex-grow: 0;
  margin: 16px 0px;
}

.message-box h3{
  position: static;
  width: 336px;
  height: 48px;
  left: 0px;
  top: 74px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%; /* Define a altura da linha em ~- 24px */

  text-align: center;

  color: #FFFFFF;
  background: transparent;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

/* textarea da div-aparece */
.div-mensaje{
  position: absolute;
  width: 336px;
  height: 430px;
  left: 35px;
  top: 52px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;  /* or 36px */

  resize: none;
  word-wrap: break-word;

  color: #495057;
  background:#C1BFBF;
}

.far fa-clone, .btn-copiar {
  background: #006699;
}

.btn-copiar{
  top: 498px;
  color: #FFFFFF;
  order: 0;
  flex-grow: 1;
}

.fas fa-eraser, .btn-limpar{
  background: #003300;
}
.btn-limpar{
  top: 574px;
  color: #FFFFFF;
  order: 0;
  flex-grow: 1;
}

.btn-copiar, .btn-limpar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: absolute;
  width: 336px;
  height: 67px;
  left: 25px;

  border-radius: 24px;

  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 19px;
  text-align: center;
  flex: none;
  margin: 0px 8px;
  justify-content: center;
}

.rodape-prin, .rodape-prin span, .icones-sociais li {
  background: transparent;
}

.rodape-prin
{
  position: absolute;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  font-family: "arial", sans-serif;
  text-align: center;

  clear: both; /* limpa udo dos dois lados do elemento */
  width: 100%;
  height: 40px;

  bottom: 0;
  left: 0;
}

.rodape-prin span {
  float: left;
  width:60%; /* determina o espaço entre o copyright e os icones */
  line-height: 30px; /* Mesma altura do rodapé */
}

.icones-sociais ul {
  display: inline-block;
  height: inherit;
  float: left;
  width: 10%;
  margin: 0;
  line-height: 50px;
}

.icones-sociais li {
  display: inline-block;
  float: left;
  margin-left: 5px;
  margin-top: 7px;
  width: 20px;
  height: 20px;
}
